.project-add-button {
    margin-top: 6px;
    margin-bottom: 6px;
}
.table th, .table td{
    padding: 0.3rem;
}

/*.iziToast-theme-light{
    
}*/

.success-color {
    background-color: lightgreen;
}

.app-header-row{
    margin: 5px !important;
}